[Unit]
Description=Daily Setlist backup

[Timer]
OnCalendar=*-*-* 04:30:00 UTC
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target
